.venv
.vscode
__pycache__
*.pyc
models/*
datasets/*sense
datasets/*v1.1
datasets/ABD
datasets/*.tar.gz
datasets/WorldFloodsv2
output/
*.csv
*.pth
*.pt
prithvi
cache
events.out.tfevents.*
*.zip
logs
*.tif
Timor_Processed
plots
visualizations
Timor_ML4Floods
Timor_ML4FLoods
Bolivia_Quant
outputs
*.json
*.png